* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .learn{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
  }
p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    
 }
 body{
    font-size: 16px;
    background-color:  hsl(0, 64%, 44%);
    min-height: 100vh;
    min-width: 100%;
    background-image: url(Images/respond.png);
 }
 .item-a, p{
     text-align: start;
 }
 .item-a{
    margin-top: 250px;
    margin-left: 35%;
    font-size: 16px;
   
}
 button[type=try]{
background-color: hsl(248, 32%, 49%); 
color: white;
padding: 12px 100px;
border: none;
border-radius: 10px;
cursor: pointer;
width: 100%;
margin-bottom: 2%;
}
input[type=text], select, textarea{
width: 90%;
padding: 12px;
border: 1px solid rgb(201, 193, 193); 
border-radius: 4px;
margin-top: 6px;
margin-bottom: 16px;
}

button[type=submit]{
background-color:hsl(154, 59%, 51%) ;
color: white;
padding: 12px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
width: 90%;
}
.by{
color: hsl(246, 25%, 77%);
margin-top: 13px;
}
.terms{
color:  hsl(0, 100%, 74%);
}
.container{
    background-color: white;
    border-radius: 9px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 350px;
    width: 500px;
}
form{
     margin-top: 100px;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
input:invalid{
    background-image: url(Images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 97%;
}
@media only screen and (max-width: 1801px) {
    .item-a {
      text-align: center;
      margin-left: 30%;
    }
  }
  
  @media only screen and (max-width: 1601px) {
    .item-a {
      text-align: center;
      margin-left: 25%;
    }
  }
  
  @media only screen and (max-width: 1501px) {
    .item-a {
      text-align: center;
      margin-left: 20%;
    }
  }
  
  @media only screen and (max-width: 1391px) {
    .item-a {
      text-align: center;
      margin-left: 5%;
    }
  }
  
  @media only screen and (max-width: 1191px) {
    .item-a {
      text-align: center;
      margin-left: 0;
    }
  }
  
  @media only screen and (max-width: 1191px) {
    .item-a {
      text-align: center;
      margin-left: 25%;
    }
    .form {
      margin-left: 25%;
    }
  }
  
  @media only screen and (max-width: 901px) {
    .item-a {
      text-align: center;
      margin-left: 20%;
    }
    .form {
      margin-left: 20%;
    }
  }
  
  @media only screen and (max-width: 751px) {
    .item-a {
      text-align: center;
      margin-left: 15%;
    }
    .form {
      margin-left: 15%;
    }
  }
  @media only screen and (max-width: 691px) {
    .item-a {
      text-align: center;
      margin-left: 10%;
    }
    .form {
      margin-left: 10%;
    }
  }
  